<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Credit Card Management System ver.171206</div>
    </div>
    <!-- <ul class="nav navbar-nav"> -->
      <div> 
      <li>
        <a href="/CreditCardIssuerList">Card List</a>
      </li>
      <li>
        <a href="/CreditCardIssuerList/new">Create New Card Issuer</a>
      </li>
      </div>

      <div> 
          <li><a href="/contacts">contacts List</a></li>
          <li><a href="/contacts/new">Create New contacts</a></li>
      </div>

      <div> 
          <li><a href="/mycardlists">My Card List</a></li>
          <li><a href="/mycardlists/new">Create New mycardlists</a></li>
      </div>

      <li><a href="./test">Javescript test</a></li>

    <!-- </ul> -->
  </div>
</nav>
