<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">Credit Card Management System ver.171205</div>
    </div>
    <ul class="nav navbar-nav">
      <div> 
      <li><a href="/CreditCardIssuerList">Card List</a></li>
      <li><a href="/CreditCardIssuerList/new">Create New Card Issuer</a></li>
    </div>
    </ul>
  </div>
</nav>
