<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
   
    
   
  </head>
  <body>
    <% include ../partials/nav %>

     

   <p></p>
   <p></p>
   <p></p>
   <p></p>
   <p></p>
    <a href="/kakao_oauth">without Login</a>


  </body>
</html>
