<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    
    
  </head>
  <body>
    <% include ../partials/nav %>

    
    <a id="kakao-login-btn"></a>
    <div href="http://developers.kakao.com/logout"></div>
    <div id="contents">
    <script type='text/javascript'>
      //<![CDATA[
        // 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('f1643921732f418af4cbdf08e8f6fde4');
        // 카카오 로그인 버튼을 생성합니다.
        Kakao.Auth.createLoginButton({
          container: '#kakao-login-btn',
          success: function(authObj) {
            //alert(JSON.stringify(authObj));
            window.location.href = "/kakao_oauth";
            $.cookie("access-token", authObj.access_token);
          },
          fail: function(err) {
             alert(JSON.stringify(err));
          }
        });
      //]]>
    </script>
    

   <p></p>
    <!-- <a href="/kakao_oauth">After Login</a> -->

  </div>
  </body>
</html>
