<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>

    <div class="container contact contact-new">
      <div class="contact-menu">
        <a class="btn btn-default" href="/mycardlists">Back</a>
      </div>
      <h2>New</h2>
      <form class="contact-form" action="/mycardlists" method="post">
          <div class="form-group">
          <label for="issuer">발급사</label>
          <select class="form-control"  id="issuer" name="issuer" >
            <% CreditCardIssuerList.forEach(function(CreditCardIssuerList) { %>
                  <option value = "<%= CreditCardIssuerList.comments %>"  > <%= CreditCardIssuerList.issuer %>  </option>             
            <% }) %>
          </select>
          </div>

          <script type = "text/javascript">
            $(document).ready(function(){     
              $('#issuer').change(function(){                   
                   $('#commentx').val( this.value  );
              });
            });
 


          </script>
          
          <div class="form-group">
              <label for="commentx">카드설명</label>
              <input class="form-control" type="text" id="commentx" name="commentx"  disabled >
              <!-- 이게 될리가 없지 , 위에 발급사 골라질때 뭔가 이벤트를 걸어야할듯  -->
          </div>

          <div class="form-group">
          <label for="received_date">받은날</label>
          <input class="form-control" type="date" id="received_date" name="received_date" value="">
          </div>

          <div class="form-group">
          <label for="discard_date">해지일</label>
          <input class="form-control" type="date" id="discard_date" name="discard_date" value="">
          </div>

          <div class="form-group">
          <label for="email">비 고</label>
          <input class="form-control" type="text" id="comments" name="comments" value="">
          </div>

        <div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>




      </form>
    </div>
  </body>
</html>
